*{margin:0;padding:0;}
body,html{
  height: 100%;
}
.box{
  width: 100%;
  height: 100%;
  background: url(2.jpg) no-repeat fixed;
}
.box{
  color: white;
  font-size: 40px;
  text-align: center;
}
ul{list-style:none}
.container{
	position:fixed;
	bottom:10px;
	left:10px;
	width:50px;
	height:50px;
	box-shadow:0 0 10px rgba(0,0,0,0.7);
	border-radius:25px;
  z-index:102;
}
.circle{
	width:40px;
	height:40px;
	position:absolute;
	top:5px;
	left:5px;
	text-align:center;
	font-size:30px;
	line-height:40px;
	color:#fff;
	cursor:pointer;
	border-radius:20px;
	background-image:-webkit-linear-gradient(#E85738, #CB2C16);
	-webkit-transform: rotate(45deg);
	/*-webkit-transition: all 0.2s linear;*/
  z-index: 101;
}

.items li{
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: -1;
	height: 26px;
	width: 26px;
	color: white;
	text-align: center;
	line-height: 26px;
	font-size: 18px;
	background-image: -webkit-linear-gradient(#433f3c, #44403d);
	-webkit-box-shadow: 0 0 0 4px #fff, 0 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 0 1px black, 0 0 0 5px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 13px;
  z-index: 100;
}

#menu:checked + label .container{
-webkit-animation:zhuan1 0.5s forwards;
}
#menu:not(:checked) + label .container{
-webkit-animation:zhuan2 0.5s forwards;
/*-webkit-transform : rotate(-45deg);*/
}

label .container:hover{
  -webkit-animation:zhuan1 1s 1 forwards;
}
@-webkit-keyframes zhuan1 {
    from {-webkit-transform : rotate(-45deg);}
    to {-webkit-transform : rotate(0deg);}
}
@-webkit-keyframes zhuan2 {
    from {-webkit-transform : rotate(0deg);}
    to {-webkit-transform : rotate(-45deg);}
}
#menu:checked ~ .items li:nth-child(1) {
  -webkit-animation:appear-1 240ms 1 forwards 20ms;
}
#menu:not(:checked) ~ .items li:nth-child(1) {
  -webkit-animation:disappear-1 387.5ms 1 forwards;
}
@-webkit-keyframes appear-1 {
  0% {
    bottom:20px;
    left: 20px;
  }
 
  100% {
     bottom:150px;
    left: 20px;
  }
}
@-webkit-keyframes disappear-1 {
  0% {
     bottom:150px;
    left: 20px;
  }
  100% {
    bottom:20px;
    left: 20px;
  }
}

#menu:checked ~ .items li:nth-child(2) {
  -webkit-animation:appear-2 240ms 1 forwards 40ms;
}
#menu:not(:checked) ~ .items li:nth-child(2) {
  -webkit-animation:disappear-2 411.125ms 1 forwards;

}
@-webkit-keyframes appear-2 {
  0% {
       bottom:20px;
    left: 20px;
  }
 
  100% {
    bottom:140px;
    left: 60px;
  }
}
@-webkit-keyframes disappear-2 {
  0% {
     bottom:140px;
    left: 60px;
  }
  
  100% {
      bottom:20px;
    left: 20px;
  }
}


#menu:checked ~ .items li:nth-child(3) {
   -webkit-animation:appear-3 240ms 1 forwards 60ms;
}
#menu:not(:checked) ~ .items li:nth-child(3) {
  -webkit-animation:disappear-3 443.019ms 1 forwards;

}
@-webkit-keyframes appear-3 {
  0% {
      bottom:20px;
    left: 20px;
  }
  100% {
     bottom:120px;
    left: 100px;
  }
}
@-webkit-keyframes disappear-3 {
  0% {
    bottom:120px;
    left: 100px;
  }
  100% {
    bottom:20px;
    left: 20px;
  }
}

#menu:checked ~ .items li:nth-child(4) {
  -webkit-animation:appear-4 240ms 1 forwards 80ms;
}
#menu:not(:checked) ~ .items li:nth-child(4) {
  -webkit-animation:disappear-4 486.075ms 1 forwards;

}
@-webkit-keyframes appear-4 {
  0% {
      bottom:20px;
    left: 20px;
  }
  100% {
     bottom:90px;
    left: 140px;
  }
}
@-webkit-keyframes disappear-4 {
  0% {
     bottom:90px;
    left: 140px;
  }
  100% {
       bottom:20px;
    left: 20px;
  }
}


